.activity-schedule{
    color: black;
}
.activity-schedule:focus, .activity-schedule:hover{
    color: black;
    text-decoration: none;
}
.activity-schedule table{
    margin-bottom: 0;
}
.activity-schedule table:focus, .activity-schedule table:hover{
    background-color: rgb(240, 240, 240);
    text-decoration: none;

}
.activity-schedule-date{
    min-width: 10%;
    width: 10%;
}
.activity-schedule-date .date{
    font-size: 18px;
}
.activity-schedule-detail{
    border-left: 3px solid;
}
.activity-schedule-detail .title{
    font-size: 24px;
}
.activity-schedule-detail .type{
}
.activity-schedule-venue{
    font-size: 16px;
    min-width: 10%;
    width: 10%;
}
.activity-detail-technical{
    color: rgb(247,248,249);
    padding-top: 20px;
    padding-bottom: 20px;
}
.activity-detail-img{
    width: 100%;
    max-width: 300px;
    padding: 15px;
}
@media (max-width: 767px) {
    .activity-detail-technical{
        margin-left: -15px;
        margin-right: -15px;
    }
}
@media (min-width: 768px) {
    .activity-detail-technical{
        padding-top: 100px;
        height: calc(100% + 10px);
        min-height: 100%;
        position: absolute;
        right: 0;
        margin-top: -70px;
        padding-left: 30px;
        overflow-y: auto;
    }
}