.top-bar{
    text-align: center;
    padding-top: 250px;
}
.top-bar .title{
    background-color: rgba(67,67,69,0.6);
    color: rgb(247,248,249);
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}
.top-bar .title h3{
    margin-top: 0;
}
@media (max-width: 767px) {
    .top-bar .title h1{
        font-size: 40px;
    }

}
@media (min-width: 768px) {
    .top-bar .title{
        width: 70%;
    }
    .top-bar .title h1{
        font-size: 60px;
    }
}