.top-bar{
    text-align: center;
    padding-top: 250px;
}
.top-bar .title{
    background-color: rgba(67,67,69,0.6);
    color: rgb(247,248,249);
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}
.top-bar .title h3{
    margin-top: 0;
}
#googleMap{
    height: 300px;
}
.tech-info{
    background-color: rgb(67,67,69);
    color: rgb(247,248,249);
    padding: 30px;
}
.user-bibi{
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.user-bibi-cover{
    width: calc(100% + 30px);
    height: 100%;
    text-align: center;
    font-size: 24px;
    padding-top: 100px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: transparent;
    color: transparent;
    margin-left: -15px;
}
.user-bibi-cover:hover, .user-bibi-cover:focus{
    background-color: rgba(67,67,69,0.6);
    color: rgb(247,248,249);
}
.speakers{
    margin-left: -15px;
    margin-right: -15px;
}
@media (max-width: 767px) {
    .intro{
        font-size: 18px;
    }
    .top-bar .title h1{
        font-size: 40px;
    }
    .tech-container > div{
        margin-right: -30px;
        margin-left: -30px;
    }
    #googleMap {
        width: calc(100% + 30px);
    }
}
@media (min-width: 768px) {
    .top-bar .title{
        width: 70%;
    }
    .top-bar .title h1{
        font-size: 60px;
    }
    .googleMap{
        margin-left: -15px;
        margin-right: -15px;
    }
    #googleMap {
        width: calc(100% + 60px);
    }
    .tech-info{
        margin-left: -15px;
        height: 300px;
        padding-left: 10%;
        padding-top: 70px;
    }
    .intro{
        font-size: 20px;
    }
}