.notification-dropdown-container{
    z-index: 2000;
    cursor: pointer;
    position: fixed;
    top:5px;
    right:80px;
}
.notification-dropdown-container button {
    height: 50px;
    border-radius: 0;
    border:0;
    background-color: rgba(247,248,249,0.8);
}